.body{
    background-color: #f5f6fa;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;

    }

.h2,h3,h4,h5,ul,body,html{
    padding: 0px;
    margin: 0px;
    
    }
.mtop16{
    margin-top: 16px;
    }

.col-md-0{
   margin-right: 50px;
    }

.panel{
    padding: 15px;
    }

.wrapper{
    min-height: 100vh;
    overflow: hidden;
    .col1{
        float: left;
        position: relative;
        z-index: 999;
        width: 17%;
        
        }
        .col2{
         float: left;
        width: 83%;
            }
    }

.sidebar{
    background-color: #fff;
    min-height: 100vh;
    .section-top{
        background-color: #2B7551;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0, 0.15);
        }
    .logo{
        text-align: center; 
        display: block;
        margin: 0px auto;
        padding-top: 10px;
        width:40%;
        }
    .user{
        color: #fff !important;
        padding: 16px;
        .botonn{
            color: #fff
            font-size: 1em
            }
        }
    

    .main{
        display: block;
        margin-top: 8px;

        ul{
            list-style-type: none;
            margin: 10px;


            li{
                margin-bottom: 4px;

            .a{
                color: rgb(114, 114, 114)!important
                display: block;
                font-size: 1.1em;
                padding: 12px, 16px;
                .i{
                    margin-right: 10px;
                    }
                &:hover{
                    background-color: #2B7551;
                    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15)
                    color: #fff !important
                    text-decoration: none;
                    }
                }
            
                }
                
            
        
        }





    }
}

.navbar{
    background-color: #2B7551;

    .a{
        margin-right: 10px;
        color: #fff !important;
        }
    
    
    
    }

.page{
    padding-top: 16px;
    padding-bottom: 16px;
    .breadcrumb{
        background-color:  transparent;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1) !important;
    
        .breadcrumb-item{
            .a{
                color: #2B7551;
                &:hover{
                    text-decoration: none;
                    }
                }


        }
    
    }


    .panel{
        background-color: #fff;
        border-radius: 6px;
        border-bottom: 2px;
        border-bottom: solid;
        border-bottom: #78A790;
        width: 100%;
        .header{
            border-bottom: 1px, solid, #78A790;
            .title{
                display: inline-block;
                color:  #343A40;
                font-size: 1.1em;
                padding: 12px, 16px;
                }
            }
        }
        .inside{
            padding: 16px;
            .btn-primary {
                color: #fff;
                background-color: #2B7551;
                border-color: #2B7551;
                    }
            .nav{
                border-bottom: 1px solid #2B7551;
                margin-right: 8px,

                }
            .big_count{
                display: block;
                font-size: 2em;
                text-align: center;
                width: 100%;
                }
            }

}

.opts{
    .a{
        border-radius: 3px;
        display: inline-block;
        border: 0.5px solid #2B7551;  
        padding: 2px;
        padding: 4px;
        .fa-solid{
            color: #2B7551;
            }

 }
    
    
}