body {
    background-color: #f6f6f6;
    margin: 0px auto;
}

.mtop16 {
    margin-top: 16px;
}

.box {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #d6d6d6;
    padding: 15px;
    width: 500px;

    .btn-success {
        background-color: #E85722
        width: 100%;
    }
}
