/* Estilos para el contenedor de preguntas frecuentes */
.faq-container {
    max-width: 800px; /* Ancho máximo */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 20px; /* Relleno */
}

/* Estilos para la pregunta */
.faq-question {
    font-weight: bold; /* Peso de la fuente */
    margin-bottom: 10px; /* Margen inferior */
}

/* Estilos para la respuesta */
.faq-answer {
    margin-bottom: 20px; /* Margen inferior */
}

/* Estilos para el contenido central */
.central {
    max-width: 800px; /* Ancho máximo */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 20px; /* Relleno */
}

/* Estilos para el título */
.central h1 {
    text-align: left !important; /* Alinear el texto a la izquierda */
}

/* Estilos para el párrafo */
.p1 {
    text-align: justify; /* Alinear el texto justificado */
    margin-bottom: 10px; /* Margen inferior */
}

/* Estilos para el formulario de tarjeta */
.card-form {
    width: 100%; /* Ancho completo */
    height: 500px; /* Altura */
    border: 1px solid #ccc; /* Borde */
    padding: 20px; /* Relleno */
    box-sizing: border-box; /* Incluir borde y relleno en el tamaño */
    overflow-y: auto; /* Desplazamiento vertical si el contenido excede la altura */
}
