  /* Estilos CSS para tus FAQs */
        .faq-container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        .faq-question {
            font-weight: bold;
            margin-bottom: 10px;
        }

        .faq-answer {
            margin-bottom: 20px;
        }

        .central {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.central h1 {
    text-align: left !important;
}

.p1 {
    text-align: justify;
    margin-bottom: 10px;
}


.card-form {
        width: 100%; 
        height: 500px; 
        border: 1px solid #ccc; 
        padding: 20px; 
        box-sizing: border-box; 
        overflow-y: auto; 
    }