color1 = #2B7551;


 body{
    background-color #f9f9f9
    font-size 14px
    font-family: 'Roboto', sans-serif;
    .nav{
        background-color #fff
        border-bottom 2px solid
    .navbar-brand {
        margin-right: auto;
        margin-left: auto;
        display: table;
    }
        
    @media (min-width: 768px) {
        .ml-auto, .mx-auto {
            margin-left: auto !important;
        }

        .mr-auto, .mx-auto {
            margin-right: auto !important;
        }
    }
        
    }

.product-list{
    display: block;
    overflow: hidden;
    margin: 32px;
    padding: 0px;
    width: 100%;
    .white-panel{
        display: inline-flex;
        float: left;
        width: 24%;
        }
    }

 }
/* Estilos para el footer */


.panel {
    display: flex;
    align-items: center;
}

.section-footer {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.section-footer li {
    display: inline-block;
    margin-right: 20px;
}
/* Cambiar el color de los enlaces a negro */
.MenuFooter__FontSize {
    color: black;
}

.NewFooter__Brand-Wrapper {
    
    display: flex;
    align-items: center;
    
}

.NewFooter__Brand-Heading {
    font-size: 16px;
    margin-right: 10px;
}

//SEARCH
.search-container {
  display: flex;
  justify-content: flex-end; /* Alinea los elementos a la derecha */
}
.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  width: 200px; /* Ajusta el ancho según sea necesario */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-right: 5px; /* Espacio entre el input y el botón */
}

.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-button i {
  color: #333; /* Color del icono de búsqueda */
  font-size: 16px; /* Tamaño del icono de búsqueda */
}

.search-button:hover i {
  color: #555; /* Color del icono de búsqueda al pasar el mouse */
}


//PRODUCTS
.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; /* Espacio entre las columnas */
}

.white-panel {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.Mjgb {
  margin-bottom: 20px;
}

.panel-body {
  text-align: center;
}

.panel-heading {
  text-align: center;
  margin-bottom: 10px;
}

.panel-body img {
  max-width: 100%;
  height: auto;
}





.btn-add-to-cart {
    color: #2B7551; 
}

